In [59]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import importlib
import tweepy
import datetime
import re
import pickle
import matplotlib.pyplot as plt
from tweepy import OAuthHandler
import funcs as fs
import requests
import unidecode

Dane z wcze≈õniejszych analiz

In [12]:
with open('geo.pickle', 'rb') as f:
    geo = pickle.load(f)
geo = geo.dropna()

#### Lista miast

In [51]:
places = pd.read_csv('dane\\places.csv', sep=';', header=None)
places.columns = ['Place_id', 'State_id', 'Place_name']
print(len(places))
print(places)

2328
      Place_id  State_id           Place_name
0            1         1          Boles≈Çawiec
1            2         1             Gromadka
2            3         1         Nowogrodziec
3            4         1           Osiecznica
4            5         1  Warta Boles≈Çawiecka
5            6         1                Jawor
6            7         1               Bolk√≥w
7            8         1              Mƒôcinka
8            9         1            M≈õciwoj√≥w
9           10         1            Paszowice
10          11         1      WƒÖdro≈ºe Wielkie
11          12         1              Karpacz
12          13         1               Kowary
13          14         1           Piechowice
14          15         1     Szklarska Porƒôba
15          16         1     Janowice Wielkie
16          17         1        Je≈º√≥w Sudecki
17          18         1          Mys≈Çakowice
18          19         1            Podg√≥rzyn
19          20         1      Stara Kamienica
20          21         1        Kamienna G√≥ra
21          22         1              Lubawka
22          23         1            Marcisz√≥w
23          24         1                Luba≈Ñ
24          25         1      ≈öwierad√≥w-Zdr√≥j
25          26         1                Le≈õna
26          27         1              Olszyna
27          28         1           Plater√≥wka
28          29         1          Siekierczyn
29          30         1        Gryf√≥w ≈ölƒÖski
...        ...       ...                  ...
2298      2299        16        Stara DƒÖbrowa
2299      2300        16               Sucha≈Ñ
2300      2301        16            Wƒôgorzyno
2301      2302        16                Dobra
2302      2303        16             Szczecin
2303      2304        16             Goleni√≥w
2304      2305        16              Maszewo
2305      2306        16             Nowogard
2306      2307        16                Osina
2307      2308        16          Przybiern√≥w
2308      2309        16             Stepnica
2309      2310        16                Banie
2310      2311        16              Cedynia
2311      2312        16               Chojna
2312      2313        16              Gryfino
2313      2314        16          Mieszkowice
2314      2315        16                Mory≈Ñ
2315      2316        16       Stare Czarnowo
2316      2317        16      Trzci≈Ñsko-Zdr√≥j
2317      2318        16            Widuchowa
2318      2319        16              Dziwn√≥w
2319      2320        16             Golczewo
2320      2321        16      Kamie≈Ñ Pomorski
2321      2322        16         Miƒôdzyzdroje
2322      2323        16             ≈öwierzno
2323      2324        16                Wolin
2324      2325        16           Ko≈Çbaskowo
2325      2326        16          Nowe Warpno
2326      2327        16               Police
2327      2328        16          ≈öwinouj≈õcie

[2328 rows x 3 columns]

#### Usuwam polskie znaki

In [79]:
#unidecode.unidecode('ƒô√≥ƒÖ≈õ≈Ç≈º≈∫ƒá≈Ñ')
places.Place_name = [unidecode.unidecode(sn).lower() for sn in list(places.Place_name)]
places.head(30)
    
#places.head(20)

    Place_id  State_id           Place_name    State_name
0          1         1          boleslawiec  dolnoslaskie
1          2         1             gromadka  dolnoslaskie
2          3         1         nowogrodziec  dolnoslaskie
3          4         1           osiecznica  dolnoslaskie
4          5         1  warta boleslawiecka  dolnoslaskie
5          6         1                jawor  dolnoslaskie
6          7         1               bolkow  dolnoslaskie
7          8         1              mecinka  dolnoslaskie
8          9         1            msciwojow  dolnoslaskie
9         10         1            paszowice  dolnoslaskie
10        11         1      wadroze wielkie  dolnoslaskie
11        12         1              karpacz  dolnoslaskie
12        13         1               kowary  dolnoslaskie
13        14         1           piechowice  dolnoslaskie
14        15         1     szklarska poreba  dolnoslaskie
15        16         1     janowice wielkie  dolnoslaskie
16        17         1        jezow sudecki  dolnoslaskie
17        18         1          myslakowice  dolnoslaskie
18        19         1            podgorzyn  dolnoslaskie
19        20         1      stara kamienica  dolnoslaskie
20        21         1        kamienna gora  dolnoslaskie
21        22         1              lubawka  dolnoslaskie
22        23         1            marciszow  dolnoslaskie
23        24         1                luban  dolnoslaskie
24        25         1      swieradow-zdroj  dolnoslaskie
25        26         1                lesna  dolnoslaskie
26        27         1              olszyna  dolnoslaskie
27        28         1           platerowka  dolnoslaskie
28        29         1          siekierczyn  dolnoslaskie
29        30         1        gryfow slaski  dolnoslaskie

In [10]:
states = pd.read_csv('dane\\provinces.csv', sep=';', header=None)
states.columns = ['State_id', 'State_name']
print(len(states))
print(states)

16
    State_id           State_name
0          1         dolno≈õlƒÖskie
1          2   kujawsko-pomorskie
2          3            lubelskie
3          4             lubuskie
4          5              ≈Ç√≥dzkie
5          6          ma≈Çopolskie
6          7          mazowieckie
7          8             opolskie
8          9         podkarpackie
9         10            podlaskie
10        11            pomorskie
11        12              ≈õlƒÖskie
12        13       ≈õwiƒôtokrzyskie
13        14  warmi≈Ñsko-mazurskie
14        15        wielkopolskie
15        16   zachodniopomorskie

In [63]:
states.State_name = [unidecode.unidecode(sn) for sn in list(states.State_name)]
states

    State_id           State_name
0          1         dolnoslaskie
1          2   kujawsko-pomorskie
2          3            lubelskie
3          4             lubuskie
4          5              lodzkie
5          6          malopolskie
6          7          mazowieckie
7          8             opolskie
8          9         podkarpackie
9         10            podlaskie
10        11            pomorskie
11        12              slaskie
12        13       swietokrzyskie
13        14  warminsko-mazurskie
14        15        wielkopolskie
15        16   zachodniopomorskie

#### Dodanie nazwy wojewodztwa

In [74]:
places = pd.merge(places, states, how='left', on='State_id')

In [93]:
geo.tail(20)

,tw_text,location,user_id,user_name,fav_cnt,friends_cnt,foll_cnt,state,new_loc
9943,"I do ka≈ºdej strony mam inne dane do logowania,...","New York, USA",1966934958,fabulous bitch,1308,373,312,New York,
9950,@Duda1967Adam @goltarr @lapszynski @mswierczyn...,"Warszawa, Polska",2370861218,MariuszMarsza≈Çkowski,3526,275,278,mazowieckie,
9952,@SOlechnowicz I cyk selfiaczek z Giertychem.,"Bia≈Çystok, Polska",470556736,Tomasz Wiƒôs≈Çaw,1982,450,54,podlaskie,
9953,Ka≈ºda niezaplanowana mi≈Ço≈õƒá\njest prawdziwa*,"Warszawa, Polska",1044550715270672384,rosseüìå,28,611,398,mazowieckie,
9954,ICYMI... https://t.co/vTPjMSCFZH,Bristol,335174279,Daniel Evans,3547,1512,2006,England,
9958,Pawe≈Ç W√≥jcik z Polsatu Sport do kibic√≥w na wa≈º...,"Warszawa, Polska",2393089614,Marcin Piechota,3681,376,1219,mazowieckie,
9963,"@wierchowienski @CinemaCityPL Wiem, ale dyskus...","Warszawa, Polska",3973882731,Pennywise,24363,450,533,mazowieckie,
9964,@PARADlSEJEON o nie ahahhaah,neverland//taejin #1enthusiast,2597566308,‚ùÅœâŒπ—ïzŒπ –º–∏ŒπŒ±–º‚ùÅSTREAM WIND FLOWERüåà,41648,676,1143,California,
9969,jakich owocow nie lubisz? ‚Äî praktycznie wszyst...,pjm knj lcr jk kb,736594059356168192,spotlight,35724,749,983,Provincia Puntarenas,
9973,Podobam siƒô mojemu koledze Shit,"Krak√≥w, Polska",3871987293,julinka,3192,142,544,ma≈Çopolskie,
9974,@skromnyBOHATER @martaczarnypies @OGembarzewsk...,"Pozna≈Ñ, Polska",708636648708378624,Babcia48,38399,1241,1016,wielkopolskie,
9975,Kurwa ale jestem zmƒôczony,heaven upside down,912307827993202688,mop marcel,2070,115,1219,England,
9976,3 d n i \nniedawno by≈Ç wrzesie≈Ñ was¬ø https://t...,madrid,1020076140353007617,ü…™·¥† | wŒπll —ïee —ï–Ωawn,2277,2077,1015,Comunidad de Madrid,
9984,@_valentinejae Przynajmniej wiem co u ciebie ü§∑üëÄ,"thank u,next",1067377258522923009,yœÖƒ∏o ‚ô° üìå Yoonmin au ‚ô°,1102,94,83,Scotland,
9986,"wkurwia mnie to, jak ≈Çatwo przed okresem potra...",http://itsohpowerful.tumblr.com/,551261022,ali.,4952,1127,1252,ÂåóÊµ∑ÈÅìÂú∞Êñπ,
9987,@taevbubbles *czyta≈Ça≈õ,"Gda≈Ñsk, Polska",726163371192672256,matitaekook üíú‚ú®,13376,200,70,pomorskie,
9989,"@dkowalski_ Kurczƒô, takie strza≈Çy do do≈Çu, zza...",Gdynia,475691612,Mati Michniewicz,29364,981,1183,pomorskie,
9990,@moonslays mam nadziejke uwu znsbksnsns,bbh jjk kjd kth,778634567133593600,achime,3336,332,642,Region Hovedstaden,
9991,@daguuniaa Co jak to?,Mazowsze,1018963914644770816,Krzysiek R üíØüáµüá±üáµüá±,27521,315,337,mazowieckie,
9992,"@wkurzaszzz prawda jest taka, ≈ºe jak masz pope...",≈ºyj z ca≈Çych si≈Ç,894298350769623040,A,127,1115,274,ÿ≠ÿ¨ÿ©,

In [13]:
print('Liczba tweet√≥w ', len(geo))

Liczba tweet√≥w  4214

#### Przetwarzanie tekstu w kolumnie "location"

In [183]:
# 1
# wojew√≥dztwo pojawia siƒô w polu
# 2
# usuwam polskie znaki
# 3
# miasta ==
# 4
# poprawa Warsaw
# 5
# dzielenie najpierw po przecinku, p√≥≈∫niej po spacji

def get_state_fast(location):
    location = unidecode.unidecode(re.sub(r'[\\/;\:]', ',', location).lower())
    location=re.sub('polska', ' ', location)
    location=re.sub('poland', ' ', location)
    location=re.sub('warsaw', 'warszawa', location).strip()
    #print(location)

    loc_parts = location.split(',')
    try:
        s = [part for part in loc_parts if part in list(states.State_name)][0]
    except:
        s= ''
        
    if len(s)==0:
        for part in loc_parts:
            if part in list(places.Place_name):
                s = places.State_name.loc[places.Place_name==part].values[0]
                break
            else:
                location = unidecode.unidecode(re.sub(r'[,-]', ' ', location).lower())
                loc_parts = location.split(' ')
                for part in loc_parts:
                    if part.strip() in list(places.Place_name):
                        s = places.State_name.loc[places.Place_name==part.strip()].values[0]
                        break
    
    return s

In [184]:
get_state_fast('Lublin-Poland')

'lubelskie'

In [185]:
geo['new_loc'] =  [get_state_fast(l) for l in geo.location]

In [186]:
print(len(geo), len(geo[geo.new_loc!='']))
#4214 201
# usuwam polskie znaki
#4214 201
#miasta
#4214 1526
#korekta na Warsaw
#4214 1574
# inaczej dzielenie
#4214 1614

4214 1614

In [153]:
"""≈ªƒôdowice
Wielkopolska
Warsaw
Liche≈Ñ"""
'  asd  ff  '.strip()
#[p for p in list(places.Place_name) if p.startswith('warsz')]
#list(places.Place_name).startswith('l')
#re.search(r'^l','lichen')

'asd  ff'

In [173]:
geo[geo.new_loc==''][700:750]

,tw_text,location,user_id,user_name,fav_cnt,friends_cnt,foll_cnt,state,new_loc
2469,to co siƒô dzieje w moim ≈ºyciu obecnie jest tak...,ÎåÄÌïúÎØºÍµ≠ Ï≤≠Ï£ºÏãú,1063069957829939201,Victoria,1159,142,19,Ï∂©Î∂Å,
2470,@oparyrteci chora jestes n o cb chodzi,"‚û≥suju, bts, day6, monsta x, jbj, t√∏p, mcr, bmt...",748070270955556864,em√∏ pas√∏≈ºyt ¬∞,98054,712,2064,England,
2476,@uskrzydlenie dobranoc,piek≈Ço,942758764482002944,ùí•,58883,172,1319,warmi≈Ñsko-mazurskie,
2477,"""Wybory za nami, ale w ≈Å√≥dzkiem walka o marsza...",w przestrzeni czasu,2962132799,Bogumi≈Ça Miros≈Çawska,30002,2938,3763,Western,
2478,og√≥lnie chyba przestanƒô siƒô malowaƒá do szko≈Çy ...,Neverland,948584865473204225,üåøolusia(‚óú‡Ø∞‚óù) Áµê,54749,1201,458,California,
2480,"@njhflicker_ Ee, zwyk≈Çym moja kole≈ºanka robi≈Ça...",Po(LA)nd,549030562,Ôº°Ôº¨Ôº©Ôº£Ôº™Ôº° üëë,1620,4251,2696,North Dakota,
2495,"jest 23, a ja w≈Ça≈õnie zobaczy≈Çam na tl tego ch...",Godric's Hollow,622828487,atena,63721,215,1544,England,
2498,kocham jak m√≥j tata prze≈ÇƒÖcza kana≈Çy i usypia ...,gryffindor,946129216483053568,romantic works,5682,162,96,Wisconsin,
2499,"ale pewnie, przecie≈º my nikogo nie zachƒôcamy d...",S.T.A.R. Labs,958734414283976704,czaru≈õ üåº‚ùÑ,3666,138,307,Salzburg,
2500,@happychimmie ULTNIJ NATYCHMIAST U GO GURL,kdy lty ldh lnk,1000685516415799296,Ÿã ¬π¬≤‚Å∑,27644,1116,1193,Scotland,
2502,to naprawde zabawne ze jak mysle ze jest juz o...,b‚ô°n,1033297215740162048,Ÿãnunus d-5,26665,221,257,–Æ–§–û,
2503,"przez ten ca≈Çy cyrk, bo kto≈õ zaczƒÖ≈Ç podawaƒá da...",S.T.A.R. Labs,958734414283976704,czaru≈õ üåº‚ùÑ,3666,138,307,Salzburg,
2504,@BeataPoProstu @MarekGolder @clodin56 Absolutn...,"Deutschland,Polen",888434660900052992,üíØüáµüá±Violetta-Anna dmüö´,150910,2246,1975,Rheinland-Pfalz,
2506,"serio, tymi hasztagami powinny zajƒÖƒá siƒô jakie...",S.T.A.R. Labs,958734414283976704,czaru≈õ üåº‚ùÑ,3666,138,307,Salzburg,
2511,"ale no, jasne, zachƒôcajmy inne osoby do niszen...",S.T.A.R. Labs,958734414283976704,czaru≈õ üåº‚ùÑ,3666,138,307,Salzburg,
2515,@russiangrande tym bardziej ze sean nie jest j...,she follows | x32,325576719,pauline,60223,527,25699,ÂÆâÂæΩÁúÅ,
2516,mam straszny kryzys dzisiaj,lost in the kpop world,950850550442221568,noebedre,454,161,21,Scotland,
2517,zaczƒô≈Ço siƒô od g≈Çupiego 'a bƒôdƒô je≈õƒá to 100 kc...,S.T.A.R. Labs,958734414283976704,czaru≈õ üåº‚ùÑ,3666,138,307,Salzburg,
2531,@kwaseek dzieki ze mi przypomnia≈Ça≈õ XDDD,"Seoul, Korea",819450605563473920,ÍπÄÌÉúÌòï üêØ,27723,1005,1199,ÏÑúÏö∏ÌäπÎ≥ÑÏãú,
2534,"Sea glass cufflinks, pale aqua, seafoam white ...","medway, kent",2592452318,jacq le breton,1488,159,126,England,
2536,@l_zaraza_l @tnwn2006 @JNizinkiewicz @rzeczpos...,tu i tam,1056290555561500678,Uncle.Sam,391,128,9,mazowieckie,
2539,fcbarcelona @fcbbasket #fcbcnbasket #fcbarcelo...,"Barcelona, Espa√±a",96597789,Silvia Pallerola,58,307,652,CAT,
2545,Co wybraƒá? Jak ≈ºyƒá? https://t.co/kpWQUAaQZt,"Szczecin-Warszawa, Poland",2485361509,Micha≈Ç Stawny,24869,448,840,zachodniopomorskie,
2559,@FLAPPYHEMMINGS ja ma miejscu tego nauczyciela...,"pjm, osh",883460611400773632,dolores ü•Ä,6939,122,395,Provincia Puntarenas,
2562,@ruda_dorota Korzystaj üòâ,"South Holland, The Netherlands",384999752,#Mason,10586,793,270,Zuid-Holland,
2566,Chocia≈º moje niestety nie sƒÖ a≈º tak d≈Çugie XD,neverland,2369285605,‚ùÑ Jagodowy Ponczek ‚óüÃΩ‚óûÃΩüåô D-28,37152,1006,1041,California,
2569,@rockyyctmre skrry,ts.bastiancave.club,1005521970375651328,Bastian,430,41,68,FVG,
2571,„ÄêË≤©Â£≤‰∏≠„Äë Huawei Honor Magic 2 TNY-AL00 (128GB/6GB...,Êó•Êú¨ Êù±‰∫¨,516198585,ÈáéÊú®‰∫úÂ†ÇÊú¨Â∫ó,21,780,862,Êù±‰∫¨ÈÉΩ,
2579,@cwiakala Co ciekawe 2 gole arce strzeli≈Ç na w...,"K√∏benhavn, Danmark",2972285662,Cezary Bednarczyk,294,28,12,Region Hovedstaden,
2583,@RejoiceRinah Okwa logwa?,"Swakopmund, Namibia",404010756,Frans H üá≥üá¶üá¶üá¥ü¶Ç,1361,890,1100,Erongo Region,
2585,Wacka Blocka,"Liverpool, England",772729831272374272,6ix9ine,30533,217,273,England,
2586,@AJIVANTE Umrƒô boze musze to obejrzeƒá to bƒôdzi...,w serduszku Jungkooka i Tae‚ù§,1046403658173349888,krzes≈Ço jungkook'a ‚ú®,1090,176,128,Western,
2598,@luvmybaehoran A WZROTU GLUPIA JA,"London, England",909148352683679744,üéÑ‚óüÃΩ‚óûÃΩùì∏ùìµùì≤ùìøùì≤ùì™ ‚ùØ‚ùØ‚ùØ‚ùØüéÑ,17531,1217,844,England,
2599,tb: @adorenarreh \n\n*dawno nie robi≈Çam selfie...,beatles' concert,1044130316670119936,consuelo,3828,202,355,Guanajuato,
2600,le≈ºƒô ju≈º w moim wygodnym ≈Ç√≥≈ºeczku,fan acc,3048021076,√£nia,2120,243,257,Virginia,
2605,Ugh czemu ona mi to robi üò¢,Dumb dumb town,845003723780898816,Glitter Girl üíñ /88‚û∞üò≠/259üéÇ,14665,550,458,Ohio,
2609,@eyitayojay Ode nie lol,"Lagos, Nigeria",144297602,Horla‚ú®,19944,2254,5385,Lagos,
2611,Cara huhejwciwncisn,"Jaragu√°, Brasil",913334277940678662,ytstayxz,5444,54,103,GO,
2624,To byli czasy... https://t.co/tZEVkgKutH,"Seville, Spain",3394243954,Five Times x2,3886,378,323,Andaluc√≠a,
2625,Zabawne jest to jak mamy u≈Ço≈ºony program z pol...,Winterfell,876453396013867008,atria,67696,826,1268,Brandenburg,
2632,@MarekS98837118 AaaAchahch! Wsyƒákie ≈õtuƒáne !!!...,≈ªycie ucieka z niesamowitƒÖ si≈ÇƒÖ ''Warsiawiak'...,3329888602,Jacek,36208,1243,1159,≈Ç√≥dzkie,
2638,@wojespn Woj Bomb!!!,Portland,119459608,Dan Avallon,4703,321,68,Oregon,
2645,#SX #Chemnitz SX2 Final 1.Lebeau 2.Dore 3.Koch...,Drenthe | Nederland,410903899,SBRMX,4,300,803,Drenthe,
2648,"gardlo mnie boli, mam zadrapang nos caly od ka...","Holmes Chapel, England",1021490190718775297,a girl ü•∞,15011,751,501,England,
2654,KASAOOSWKOSKSOXKXKAAJXNAMMSKWOSKKSOOWODOWOKAPS...,sccp,943408804951191552,ÿò,360,75,1324,N'Djam√©na ÿßŸÜÿ¨ŸÖŸäŸÜÿß,
2660,smiesznie sie oglada jak n wiedza co maja robi...,gol cha,997127930244452352,üåπ–∫œâŒπŒ±—ÇœÖ—ïz—î–∫üåπ #ATINY,12289,437,443,ÂÜÖËíôÂè§Ëá™Ê≤ªÂå∫,
2666,@zmsne to dobrze:( a przemyla≈õ zimna woda?,w o m m d a k,3053068799,ùíèùíÇùíïùíñùíîùíäùíÇ,5406,92,856,Western,
2668,@aestheticalyein ja mam takie typowo zimowe za...,stream Lullaby,1002921834256502785,‚ÑìŒ±‚ÑìŒπ…Ä…Ä #SOLOJennie [üçÅüìå],38373,717,573,CAT,
2671,@jenniesmysun A co siƒô takiego cudownego wydar...,"New York, USA",1062787427297886210,¬´ ¬∞BTS¬∞love¬∞Army¬∞ I KPOP ¬ª,629,504,53,New York,
2672,@brokatwoku Nie potrzeba wielkiej imprezy ≈ºeby...,Lothal,1003746869539999744,—ïœÉœÅ–ΩŒπ—î —ï–∫—ÉœâŒ±‚Ñì–∫—î—è ‚ô°/ WILL SEE T√òP,6633,1619,1540,Gujarat,