In [59]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import importlib
import tweepy
import datetime
import re
import pickle
import matplotlib.pyplot as plt
from tweepy import OAuthHandler
import funcs as fs
import requests
import unidecode

Dane z wcześniejszych analiz

In [12]:
with open('geo.pickle', 'rb') as f:
    geo = pickle.load(f)
geo = geo.dropna()

#### Lista miast

In [51]:
places = pd.read_csv('dane\\places.csv', sep=';', header=None)
places.columns = ['Place_id', 'State_id', 'Place_name']
print(len(places))
print(places)

2328
      Place_id  State_id           Place_name
0            1         1          Bolesławiec
1            2         1             Gromadka
2            3         1         Nowogrodziec
3            4         1           Osiecznica
4            5         1  Warta Bolesławiecka
5            6         1                Jawor
6            7         1               Bolków
7            8         1              Męcinka
8            9         1            Mściwojów
9           10         1            Paszowice
10          11         1      Wądroże Wielkie
11          12         1              Karpacz
12          13         1               Kowary
13          14         1           Piechowice
14          15         1     Szklarska Poręba
15          16         1     Janowice Wielkie
16          17         1        Jeżów Sudecki
17          18         1          Mysłakowice
18          19         1            Podgórzyn
19          20         1      Stara Kamienica
20          21         1        Kamienna Góra
21          22         1              Lubawka
22          23         1            Marciszów
23          24         1                Lubań
24          25         1      Świeradów-Zdrój
25          26         1                Leśna
26          27         1              Olszyna
27          28         1           Platerówka
28          29         1          Siekierczyn
29          30         1        Gryfów Śląski
...        ...       ...                  ...
2298      2299        16        Stara Dąbrowa
2299      2300        16               Suchań
2300      2301        16            Węgorzyno
2301      2302        16                Dobra
2302      2303        16             Szczecin
2303      2304        16             Goleniów
2304      2305        16              Maszewo
2305      2306        16             Nowogard
2306      2307        16                Osina
2307      2308        16          Przybiernów
2308      2309        16             Stepnica
2309      2310        16                Banie
2310      2311        16              Cedynia
2311      2312        16               Chojna
2312      2313        16              Gryfino
2313      2314        16          Mieszkowice
2314      2315        16                Moryń
2315      2316        16       Stare Czarnowo
2316      2317        16      Trzcińsko-Zdrój
2317      2318        16            Widuchowa
2318      2319        16              Dziwnów
2319      2320        16             Golczewo
2320      2321        16      Kamień Pomorski
2321      2322        16         Międzyzdroje
2322      2323        16             Świerzno
2323      2324        16                Wolin
2324      2325        16           Kołbaskowo
2325      2326        16          Nowe Warpno
2326      2327        16               Police
2327      2328        16          Świnoujście

[2328 rows x 3 columns]

#### Usuwam polskie znaki

In [79]:
#unidecode.unidecode('ęóąśłżźćń')
places.Place_name = [unidecode.unidecode(sn).lower() for sn in list(places.Place_name)]
places.head(30)
    
#places.head(20)

    Place_id  State_id           Place_name    State_name
0          1         1          boleslawiec  dolnoslaskie
1          2         1             gromadka  dolnoslaskie
2          3         1         nowogrodziec  dolnoslaskie
3          4         1           osiecznica  dolnoslaskie
4          5         1  warta boleslawiecka  dolnoslaskie
5          6         1                jawor  dolnoslaskie
6          7         1               bolkow  dolnoslaskie
7          8         1              mecinka  dolnoslaskie
8          9         1            msciwojow  dolnoslaskie
9         10         1            paszowice  dolnoslaskie
10        11         1      wadroze wielkie  dolnoslaskie
11        12         1              karpacz  dolnoslaskie
12        13         1               kowary  dolnoslaskie
13        14         1           piechowice  dolnoslaskie
14        15         1     szklarska poreba  dolnoslaskie
15        16         1     janowice wielkie  dolnoslaskie
16        17         1        jezow sudecki  dolnoslaskie
17        18         1          myslakowice  dolnoslaskie
18        19         1            podgorzyn  dolnoslaskie
19        20         1      stara kamienica  dolnoslaskie
20        21         1        kamienna gora  dolnoslaskie
21        22         1              lubawka  dolnoslaskie
22        23         1            marciszow  dolnoslaskie
23        24         1                luban  dolnoslaskie
24        25         1      swieradow-zdroj  dolnoslaskie
25        26         1                lesna  dolnoslaskie
26        27         1              olszyna  dolnoslaskie
27        28         1           platerowka  dolnoslaskie
28        29         1          siekierczyn  dolnoslaskie
29        30         1        gryfow slaski  dolnoslaskie

In [10]:
states = pd.read_csv('dane\\provinces.csv', sep=';', header=None)
states.columns = ['State_id', 'State_name']
print(len(states))
print(states)

16
    State_id           State_name
0          1         dolnośląskie
1          2   kujawsko-pomorskie
2          3            lubelskie
3          4             lubuskie
4          5              łódzkie
5          6          małopolskie
6          7          mazowieckie
7          8             opolskie
8          9         podkarpackie
9         10            podlaskie
10        11            pomorskie
11        12              śląskie
12        13       świętokrzyskie
13        14  warmińsko-mazurskie
14        15        wielkopolskie
15        16   zachodniopomorskie

In [63]:
states.State_name = [unidecode.unidecode(sn) for sn in list(states.State_name)]
states

    State_id           State_name
0          1         dolnoslaskie
1          2   kujawsko-pomorskie
2          3            lubelskie
3          4             lubuskie
4          5              lodzkie
5          6          malopolskie
6          7          mazowieckie
7          8             opolskie
8          9         podkarpackie
9         10            podlaskie
10        11            pomorskie
11        12              slaskie
12        13       swietokrzyskie
13        14  warminsko-mazurskie
14        15        wielkopolskie
15        16   zachodniopomorskie

#### Dodanie nazwy wojewodztwa

In [74]:
places = pd.merge(places, states, how='left', on='State_id')

In [93]:
geo.tail(20)

,tw_text,location,user_id,user_name,fav_cnt,friends_cnt,foll_cnt,state,new_loc
9943,"I do każdej strony mam inne dane do logowania,...","New York, USA",1966934958,fabulous bitch,1308,373,312,New York,
9950,@Duda1967Adam @goltarr @lapszynski @mswierczyn...,"Warszawa, Polska",2370861218,MariuszMarszałkowski,3526,275,278,mazowieckie,
9952,@SOlechnowicz I cyk selfiaczek z Giertychem.,"Białystok, Polska",470556736,Tomasz Więsław,1982,450,54,podlaskie,
9953,Każda niezaplanowana miłość\njest prawdziwa*,"Warszawa, Polska",1044550715270672384,rosse📌,28,611,398,mazowieckie,
9954,ICYMI... https://t.co/vTPjMSCFZH,Bristol,335174279,Daniel Evans,3547,1512,2006,England,
9958,Paweł Wójcik z Polsatu Sport do kibiców na waż...,"Warszawa, Polska",2393089614,Marcin Piechota,3681,376,1219,mazowieckie,
9963,"@wierchowienski @CinemaCityPL Wiem, ale dyskus...","Warszawa, Polska",3973882731,Pennywise,24363,450,533,mazowieckie,
9964,@PARADlSEJEON o nie ahahhaah,neverland//taejin #1enthusiast,2597566308,❁ωιѕzι миιαм❁STREAM WIND FLOWER🌈,41648,676,1143,California,
9969,jakich owocow nie lubisz? — praktycznie wszyst...,pjm knj lcr jk kb,736594059356168192,spotlight,35724,749,983,Provincia Puntarenas,
9973,Podobam się mojemu koledze Shit,"Kraków, Polska",3871987293,julinka,3192,142,544,małopolskie,
9974,@skromnyBOHATER @martaczarnypies @OGembarzewsk...,"Poznań, Polska",708636648708378624,Babcia48,38399,1241,1016,wielkopolskie,
9975,Kurwa ale jestem zmęczony,heaven upside down,912307827993202688,mop marcel,2070,115,1219,England,
9976,3 d n i \nniedawno był wrzesień was¿ https://t...,madrid,1020076140353007617,ʟɪᴠ | wιll ѕee ѕнawn,2277,2077,1015,Comunidad de Madrid,
9984,@_valentinejae Przynajmniej wiem co u ciebie 🤷👀,"thank u,next",1067377258522923009,yυĸo ♡ 📌 Yoonmin au ♡,1102,94,83,Scotland,
9986,"wkurwia mnie to, jak łatwo przed okresem potra...",http://itsohpowerful.tumblr.com/,551261022,ali.,4952,1127,1252,北海道地方,
9987,@taevbubbles *czytałaś,"Gdańsk, Polska",726163371192672256,matitaekook 💜✨,13376,200,70,pomorskie,
9989,"@dkowalski_ Kurczę, takie strzały do dołu, zza...",Gdynia,475691612,Mati Michniewicz,29364,981,1183,pomorskie,
9990,@moonslays mam nadziejke uwu znsbksnsns,bbh jjk kjd kth,778634567133593600,achime,3336,332,642,Region Hovedstaden,
9991,@daguuniaa Co jak to?,Mazowsze,1018963914644770816,Krzysiek R 💯🇵🇱🇵🇱,27521,315,337,mazowieckie,
9992,"@wkurzaszzz prawda jest taka, że jak masz pope...",żyj z całych sił,894298350769623040,A,127,1115,274,حجة,

In [13]:
print('Liczba tweetów ', len(geo))

Liczba tweetów  4214

#### Przetwarzanie tekstu w kolumnie "location"

In [183]:
# 1
# województwo pojawia się w polu
# 2
# usuwam polskie znaki
# 3
# miasta ==
# 4
# poprawa Warsaw
# 5
# dzielenie najpierw po przecinku, później po spacji

def get_state_fast(location):
    location = unidecode.unidecode(re.sub(r'[\\/;\:]', ',', location).lower())
    location=re.sub('polska', ' ', location)
    location=re.sub('poland', ' ', location)
    location=re.sub('warsaw', 'warszawa', location).strip()
    #print(location)

    loc_parts = location.split(',')
    try:
        s = [part for part in loc_parts if part in list(states.State_name)][0]
    except:
        s= ''
        
    if len(s)==0:
        for part in loc_parts:
            if part in list(places.Place_name):
                s = places.State_name.loc[places.Place_name==part].values[0]
                break
            else:
                location = unidecode.unidecode(re.sub(r'[,-]', ' ', location).lower())
                loc_parts = location.split(' ')
                for part in loc_parts:
                    if part.strip() in list(places.Place_name):
                        s = places.State_name.loc[places.Place_name==part.strip()].values[0]
                        break
    
    return s

In [184]:
get_state_fast('Lublin-Poland')

'lubelskie'

In [185]:
geo['new_loc'] =  [get_state_fast(l) for l in geo.location]

In [186]:
print(len(geo), len(geo[geo.new_loc!='']))
#4214 201
# usuwam polskie znaki
#4214 201
#miasta
#4214 1526
#korekta na Warsaw
#4214 1574
# inaczej dzielenie
#4214 1614

4214 1614

In [153]:
"""Żędowice
Wielkopolska
Warsaw
Licheń"""
'  asd  ff  '.strip()
#[p for p in list(places.Place_name) if p.startswith('warsz')]
#list(places.Place_name).startswith('l')
#re.search(r'^l','lichen')

'asd  ff'

In [173]:
geo[geo.new_loc==''][700:750]

,tw_text,location,user_id,user_name,fav_cnt,friends_cnt,foll_cnt,state,new_loc
2469,to co się dzieje w moim życiu obecnie jest tak...,대한민국 청주시,1063069957829939201,Victoria,1159,142,19,충북,
2470,@oparyrteci chora jestes n o cb chodzi,"➳suju, bts, day6, monsta x, jbj, tøp, mcr, bmt...",748070270955556864,emø pasøżyt °,98054,712,2064,England,
2476,@uskrzydlenie dobranoc,piekło,942758764482002944,𝒥,58883,172,1319,warmińsko-mazurskie,
2477,"""Wybory za nami, ale w Łódzkiem walka o marsza...",w przestrzeni czasu,2962132799,Bogumiła Mirosławska,30002,2938,3763,Western,
2478,ogólnie chyba przestanę się malować do szkoły ...,Neverland,948584865473204225,🌿olusia(◜௰◝) 結,54749,1201,458,California,
2480,"@njhflicker_ Ee, zwykłym moja koleżanka robiła...",Po(LA)nd,549030562,ＡＬＩＣＪＡ 👑,1620,4251,2696,North Dakota,
2495,"jest 23, a ja właśnie zobaczyłam na tl tego ch...",Godric's Hollow,622828487,atena,63721,215,1544,England,
2498,kocham jak mój tata przełącza kanały i usypia ...,gryffindor,946129216483053568,romantic works,5682,162,96,Wisconsin,
2499,"ale pewnie, przecież my nikogo nie zachęcamy d...",S.T.A.R. Labs,958734414283976704,czaruś 🌼❄,3666,138,307,Salzburg,
2500,@happychimmie ULTNIJ NATYCHMIAST U GO GURL,kdy lty ldh lnk,1000685516415799296,ً ¹²⁷,27644,1116,1193,Scotland,
2502,to naprawde zabawne ze jak mysle ze jest juz o...,b♡n,1033297215740162048,ًnunus d-5,26665,221,257,ЮФО,
2503,"przez ten cały cyrk, bo ktoś zaczął podawać da...",S.T.A.R. Labs,958734414283976704,czaruś 🌼❄,3666,138,307,Salzburg,
2504,@BeataPoProstu @MarekGolder @clodin56 Absolutn...,"Deutschland,Polen",888434660900052992,💯🇵🇱Violetta-Anna dm🚫,150910,2246,1975,Rheinland-Pfalz,
2506,"serio, tymi hasztagami powinny zająć się jakie...",S.T.A.R. Labs,958734414283976704,czaruś 🌼❄,3666,138,307,Salzburg,
2511,"ale no, jasne, zachęcajmy inne osoby do niszen...",S.T.A.R. Labs,958734414283976704,czaruś 🌼❄,3666,138,307,Salzburg,
2515,@russiangrande tym bardziej ze sean nie jest j...,she follows | x32,325576719,pauline,60223,527,25699,安徽省,
2516,mam straszny kryzys dzisiaj,lost in the kpop world,950850550442221568,noebedre,454,161,21,Scotland,
2517,zaczęło się od głupiego 'a będę jeść to 100 kc...,S.T.A.R. Labs,958734414283976704,czaruś 🌼❄,3666,138,307,Salzburg,
2531,@kwaseek dzieki ze mi przypomniałaś XDDD,"Seoul, Korea",819450605563473920,김태형 🐯,27723,1005,1199,서울특별시,
2534,"Sea glass cufflinks, pale aqua, seafoam white ...","medway, kent",2592452318,jacq le breton,1488,159,126,England,
2536,@l_zaraza_l @tnwn2006 @JNizinkiewicz @rzeczpos...,tu i tam,1056290555561500678,Uncle.Sam,391,128,9,mazowieckie,
2539,fcbarcelona @fcbbasket #fcbcnbasket #fcbarcelo...,"Barcelona, España",96597789,Silvia Pallerola,58,307,652,CAT,
2545,Co wybrać? Jak żyć? https://t.co/kpWQUAaQZt,"Szczecin-Warszawa, Poland",2485361509,Michał Stawny,24869,448,840,zachodniopomorskie,
2559,@FLAPPYHEMMINGS ja ma miejscu tego nauczyciela...,"pjm, osh",883460611400773632,dolores 🥀,6939,122,395,Provincia Puntarenas,
2562,@ruda_dorota Korzystaj 😉,"South Holland, The Netherlands",384999752,#Mason,10586,793,270,Zuid-Holland,
2566,Chociaż moje niestety nie są aż tak długie XD,neverland,2369285605,❄ Jagodowy Ponczek ◟̽◞̽🌙 D-28,37152,1006,1041,California,
2569,@rockyyctmre skrry,ts.bastiancave.club,1005521970375651328,Bastian,430,41,68,FVG,
2571,【販売中】 Huawei Honor Magic 2 TNY-AL00 (128GB/6GB...,日本 東京,516198585,野木亜堂本店,21,780,862,東京都,
2579,@cwiakala Co ciekawe 2 gole arce strzelił na w...,"København, Danmark",2972285662,Cezary Bednarczyk,294,28,12,Region Hovedstaden,
2583,@RejoiceRinah Okwa logwa?,"Swakopmund, Namibia",404010756,Frans H 🇳🇦🇦🇴🦂,1361,890,1100,Erongo Region,
2585,Wacka Blocka,"Liverpool, England",772729831272374272,6ix9ine,30533,217,273,England,
2586,@AJIVANTE Umrę boze musze to obejrzeć to będzi...,w serduszku Jungkooka i Tae❤,1046403658173349888,krzesło jungkook'a ✨,1090,176,128,Western,
2598,@luvmybaehoran A WZROTU GLUPIA JA,"London, England",909148352683679744,🎄◟̽◞̽𝓸𝓵𝓲𝓿𝓲𝓪 ❯❯❯❯🎄,17531,1217,844,England,
2599,tb: @adorenarreh \n\n*dawno nie robiłam selfie...,beatles' concert,1044130316670119936,consuelo,3828,202,355,Guanajuato,
2600,leżę już w moim wygodnym łóżeczku,fan acc,3048021076,ãnia,2120,243,257,Virginia,
2605,Ugh czemu ona mi to robi 😢,Dumb dumb town,845003723780898816,Glitter Girl 💖 /88➰😭/259🎂,14665,550,458,Ohio,
2609,@eyitayojay Ode nie lol,"Lagos, Nigeria",144297602,Horla✨,19944,2254,5385,Lagos,
2611,Cara huhejwciwncisn,"Jaraguá, Brasil",913334277940678662,ytstayxz,5444,54,103,GO,
2624,To byli czasy... https://t.co/tZEVkgKutH,"Seville, Spain",3394243954,Five Times x2,3886,378,323,Andalucía,
2625,Zabawne jest to jak mamy ułożony program z pol...,Winterfell,876453396013867008,atria,67696,826,1268,Brandenburg,
2632,@MarekS98837118 AaaAchahch! Wsyćkie śtućne !!!...,Życie ucieka z niesamowitą siłą ''Warsiawiak'...,3329888602,Jacek,36208,1243,1159,łódzkie,
2638,@wojespn Woj Bomb!!!,Portland,119459608,Dan Avallon,4703,321,68,Oregon,
2645,#SX #Chemnitz SX2 Final 1.Lebeau 2.Dore 3.Koch...,Drenthe | Nederland,410903899,SBRMX,4,300,803,Drenthe,
2648,"gardlo mnie boli, mam zadrapang nos caly od ka...","Holmes Chapel, England",1021490190718775297,a girl 🥰,15011,751,501,England,
2654,KASAOOSWKOSKSOXKXKAAJXNAMMSKWOSKKSOOWODOWOKAPS...,sccp,943408804951191552,ؘ,360,75,1324,N'Djaména انجمينا,
2660,smiesznie sie oglada jak n wiedza co maja robi...,gol cha,997127930244452352,🌹кωιαтυѕzєк🌹 #ATINY,12289,437,443,内蒙古自治区,
2666,@zmsne to dobrze:( a przemylaś zimna woda?,w o m m d a k,3053068799,𝒏𝒂𝒕𝒖𝒔𝒊𝒂,5406,92,856,Western,
2668,@aestheticalyein ja mam takie typowo zimowe za...,stream Lullaby,1002921834256502785,ℓαℓιɀɀ #SOLOJennie [🍁📌],38373,717,573,CAT,
2671,@jenniesmysun A co się takiego cudownego wydar...,"New York, USA",1062787427297886210,« °BTS°love°Army° I KPOP »,629,504,53,New York,
2672,@brokatwoku Nie potrzeba wielkiej imprezy żeby...,Lothal,1003746869539999744,ѕσρнιє ѕкуωαℓкєя ♡/ WILL SEE TØP,6633,1619,1540,Gujarat,